{% include 'topbase.html.twig' %}

  <div class ="row">
    <div class="col-lg-3 blue">
      <h1 class="resultOfBlue">{{ steve }}</h1>
    </div>
    <div class="col-lg-3 purple">
      <h1 class="resultOfpurple">{{ steve }}</h1>
    </div>
    <div class="col-lg-3 green">
      <h1 class="resultOfgreen">{{ steve }}</h1>
    </div>
    <div class="col-lg-3 pinker">
      <h1 class="resultOfpinker">{{ steve }}</h1>
    </div>
  </div>
  <div class ="row">
    <div class="col-lg-3 yellow">
      <h1 class="resultOfyellow">{{ steve }}</h1>
    </div>
    <div class="col-lg-3 white">
      <h1 class="resultOfwhite"><a href='/'>Home</a></h1>
    </div>
    <div class="col-lg-3 red">
      <h1 class="resultOfred">{{ steve }}</h1>
    </div>
    <div class="col-lg-3 purplest">
      <h1 class="resultOfpurplest">{{ steve }}</h1>
    </div>
  </div>
  <div class ="row">
    <div class="col-lg-3 pink">
      <h1 class="resultOfpink">{{ steve }}</h1>
    </div>
    <div class="col-lg-3 orange">
      <h1 class="resultOforange">{{ steve }}</h1>
    </div>
    <div class="col-lg-3 bluer">
      <h1 class="resultOfbluer">{{ steve }}</h1>
    </div>
    <div class="col-lg-3 greener">
      <h1 class="resultOfgreener">{{ steve }}</h1>
    </div>
  </div>
  <div class ="row">
    <div class="col-lg-3 purpler">
      <h1 class="resultOfpurpler">{{ steve }}</h1>
    </div>
    <div class="col-lg-3 reder">
      <h1 class="resultOfreder">{{ steve }}</h1>
    </div>
    <div class="col-lg-3 yellower">
      <h1 class="resultOfyellower">{{ steve }}</h1>
    </div>
    <div class="col-lg-3 whiter">
      <h1 class="resultOfwhiter">{{ steve }}</h1>
    </div>
  </div>

{% include 'bottombase.html.twig' %}
